@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@inherits ComponentBase

@inject IJSRuntime jsr

@page "/joj"
<body>
    <div>
        <InputSelect @bind-Value="@actionWord" @onchange="@Click" @onselect="@Click" @bind-Value:after="@Click" DisplayName="error" class="NewPost">
            @if (postModel is null)
            {
                <h1>Загрузка данных</h1>
            }
            else
            {
                @if (postModel.Fields.Count()==1)
                {
                    actionWord = postModel.Fields.Keys.First();
                    Click();
                }
                else
                {
                    <option value=""></option>
                }
                @foreach (var el in postModel.Fields.Keys)
                {

                    <option value="@el"><h3>@el</h3></option>
                }
            }
            </InputSelect>
    </div>
</body>


