    @using GPO_BLAZOR.Client.Class.Date;
    @using GPO_BLAZOR.Client.Parts
    @inherits Class.Field.Field

    <RoleController Role="@Class.Date.Roles.Student" >
        <div>
            @{
                base.BuildRenderTree(__builder);
            }
            <input id="@Date.Id" type="text" class="@Date.ClassType" name="@Date.Name" @bind="@Date.value" disabled=true />
        </div>
    </RoleController>

    <RoleController Role="@Class.Date.Roles.FieldCommander" >
        <div>
            @{
                base.BuildRenderTree(__builder);
            }
            <input id="@Date.Id" type="text" class="@Date.ClassType" name="@Date.Name" @bind="@Date.value" disabled=false />
        </div>
    </RoleController>

@code {

    
}
